{% comment %} How Wicket works, shown on the homepage board: a tag and the component that renders it. {% endcomment %}
<div class="board-mechanism">
    <div class="board-code">
        <p class="board-file">HelloWorld.html</p>
{% highlight html %}
<h1 wicket:id="message">Message goes here</h1>
{% endhighlight %}
    </div>
    <div class="board-code">
        <p class="board-file">HelloWorld.java</p>
{% highlight java %}
public class HelloWorld extends WebPage {
    public HelloWorld() {
        add(new Label("message", "Hello World!"));
    }
}
{% endhighlight %}
    </div>
    <p class="board-mechanism-note">A <code>wicket:id</code> binds a tag to a Java component, and that is the whole contract: plain HTML that opens in any editor, behaviour in Java, no template language and no JavaScript build chain.</p>
</div>
