<div class="bww-head">
    <h2 id="bww-title">Built with Wicket</h2>
    <p>Many applications run on Wicket without saying so. These say so, collected through the <a href="http://builtwithwicket.tumblr.com" rel="nofollow">Built with Wicket</a> feed. <a href="http://builtwithwicket.tumblr.com/submit" rel="nofollow">Submit your own project</a>.</p>
</div>
<div class="builtwithwicket-slider"></div>
<!-- Only display the blog image, title and post URL -->   
<script type="text/javascript"> 
    function randomIntFromInterval(min,max)
    {
        return Math.floor(Math.random()*(max-min+1)+min);
    }

    fetch('./tumblr.json') // Call the fetch function passing the url of the API as a parameter
        .then(res => res.json())
        .then(function (response) {
            var posts = response.posts;  

            for(var postIndex in posts) {
                var post = posts[postIndex];
                var caption = jQuery('<div>' + post['photo-caption'] + '</div>').text().substring(0,150) + "...";
                var newSlide = $('.builtwithwicket-slider').append(
                    '<div class="builtwithwicket-post">\n' +
                    '  <img class="builtwithwicket-screenshot" data-lazy="' + post['photo-url-500'] + '">\n' +
                    '  <p class="builtwithwicket-caption">' + caption + '</p>\n' +
                    '  <a href="' + post['url'] + '" target="_blank" rel="nofollow">More</a>\n' + 
                    '</div>');
            }

            if (window.matchMedia('(max-width: 589px)').matches) {
                // Phones get a swipeable strip; images load as they scroll in.
                $('.builtwithwicket-slider').addClass('is-strip')
                    .attr({ role: 'region', tabindex: 0, 'aria-label': 'Built with Wicket projects, swipe for more' })
                    .after('<p class="bww-count">' + posts.length + ' projects, swipe for more</p>');
                $('.builtwithwicket-screenshot').each(function () {
                    this.loading = 'lazy';
                    this.src = this.getAttribute('data-lazy');
                });
                return;
            }

            $('.builtwithwicket-slider').slick({
                arrows: true,
                autoplay: false,
                dots: true,
                draggable: true,
                infinite: true,
                initialSlide: randomIntFromInterval(0, posts.length),
                lazyLoad: 'ondemand',
                pauseOnDotsHover: true,
                responsive: [    {
                        breakpoint: 590,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    },
                    {
                        breakpoint: 960,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2
                        }
                    },
                ],
                slidesToShow: 3,
                slidesToScroll: 3,
                swipe: true,
            });
        })
        .catch(function(e) {
            $("#builtwithwicket").remove();
        });
</script>
